@import url(https://fonts.googleapis.com/css?family=Vibur);

:root {
  --accent: #009688;
  --primary: #ffca28;
  --secondary: #ffa726;
  --background: #383c4a;
  --font: 'Vibur', cursive;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #a3a3a3;
  background-color: var(--background);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
  font-weight: normal;
  line-height: 1;
}

h1 {
  color: var(--primary);
  text-align: center;
  font-size: 50px;
  margin-bottom: 0.5em;
  font-family: var(--font);
}

a {
  color: inherit;
}
@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

